<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no"
    />
    <meta name="format-detection" content="telephone=no" />

    <title>offer landing</title>

    <link rel="stylesheet" href="/css/libs.css" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body>
    <section class="component">
      <h2 class="component__title">
        Buy the Galaxy S8 and a Galaxy phone<br />for only $799
      </h2>
      <p class="component__txt">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis,
        amet?<br />
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis earum
        aspernatur ducimus culpa, praesentium minima!<br />
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      </p>
      <div class="div-line"></div>
      <h2 class="offer-title">[CASE1] one option item</h2>
      <div class="component-box">
        <div class="product dc-price">
          <p class="soldout-txt">out of stock</p>
          <div class="product__inner">
            <div class="product__img-wrap">
              <picture>
                <source
                  media="(max-width:767px)"
                  srcset="../img/phone_mobile_03.png"
                />
                <img
                  src="../img/main_phone_pc_03.png"
                  class="product__img-pc"
                  alt=""
                />
              </picture>
            </div>
            <div class="product__contents">
              <div class="product__color-box">
                <span class="blind">컬러 옵션</span>
                <p class="product__color">
                  <span class="blind">버건디</span>
                </p>
              </div>
              <p class="product__capacity">
                <span class="blind">저장용량</span>64GB
              </p>
              <strong class="product__name">
                <span class="blind">제품명</span>Samsung Galaxy S8+ Samsung
                Galaxy S8+
              </strong>
              <p class="product__sku">
                <span class="blind">모델명</span>SM-G955UZKAZAA
              </p>
              <p class="product-fiche">
                product fiche
                <span class="fiche-tag">A++</span>
              </p>
              <div class="product-dc-box">
                <p class="product-price-origin">
                  <span class="blind">정상가</span>
                  <s>$9,900,000.00</s>
                </p>
                <p class="product-price-save">
                  <span class="blind">할인받은 금액</span>Save $9,9.00
                </p>
              </div>
              <p class="product-price">
                <span class="blind">판매가</span>$3,332.00
              </p>
              <!-- [D] authoring -->
              <p class="product__desc">
                $35.00/mo for 24 mos at 0% APR excludes taxes and shipping
                $35.00/mo for 24 mos at 0% APR excludes taxes and shipping
              </p>
            </div>
          </div>
        </div>
        <div class="icon-plus">
          <div class="icon-plus-w"></div>
          <div class="icon-plus-h"></div>
        </div>
        <div class="option">
          <h3 class="option-title">Please select your bundle product</h3>
          <div class="option__list-wrap">
            <ul class="option__list-pc">
              <li class="option__item">
                <div class="option__item-inner">
                  <input
                    type="checkbox"
                    id="option-tomato"
                    name="option"
                    class="option__input"
                  />
                  <label class="option__label" for="option-tomato"></label>
                  <p class="option__sub-title">
                    Buy the Galaxy S8 and<br />a Galaxy phone for only $799
                  </p>
                  <div class="option__img-wrap">
                    <img
                      src="../img/main_phone_pc_03.png"
                      class="option__img"
                      alt=""
                    />
                  </div>
                  <div class="option__contents">
                    <strong class="option__name"
                      >Fast Charge Wireless Charging<br />Convertible,
                      Black</strong
                    >
                    <div class="option__sort">
                      <p class="option__sku">
                        <span class="blind">모델명</span>SM-G955UZKAZAA
                      </p>
                      <p class="option__sort-color">
                        <span class="blind">컬러</span>BLACK
                      </p>
                      <p class="option__sort-capacity">
                        <span class="blind">저장용량</span>64GB
                      </p>
                    </div>
                    <p class="product-fiche">
                      product fiche
                      <span class="fiche-tag">A++</span>
                    </p>
                    <div class="product-dc-box">
                      <p class="product-price-origin">
                        <span class="blind">정상가</span>
                        <s>$9,900,000.00</s>
                      </p>
                      <p class="product-price-save">
                        <span class="blind">할인받은 금액</span>Save $9,9.00
                      </p>
                    </div>
                    <strong class="product-price">
                      <span class="blind">판매가</span>$49.99
                    </strong>
                  </div>
                  <p class="soldout-txt">out of stock</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="option__select-pc">
            <p class="option__selected">
              Selected product
              <!-- [D] if check option, increase option count -->
              (<em class="option__count">0</em>)
            </p>
            <button type="button" class="option__clear">Clear all X</button>
          </div>
          <!-- [D] if toggle click, add 'is-dropped'-->
          <div class="option__select-mo is-dropped">
            <div class="option__toggle-box">
              <p class="option__selected">
                Selected product
                <!-- [D] if add option, increase option count -->
                (<em class="option__count">2</em>)
              </p>
              <div class="option__btn-box">
                <button type="button" class="icon-edit">
                  <span class="blind">옵션 수정</span>
                </button>
                <button type="button" class="option__toggle-btn">
                  <span class="blind">옵션 리스트 열기</span>
                </button>
              </div>
            </div>
            <ul class="option__list-mo">
              <li class="option__item dc-price">
                <div class="option__item-inner">
                  <p class="soldout-txt">out of stock</p>
                  <button type="button" class="option__close">
                    <span class="blind">옵션 삭제</span>
                  </button>
                  <input
                    type="checkbox"
                    id="option-violet"
                    name="option"
                    class="option__input"
                  />
                  <label class="option__label" for="option-violet"></label>
                  <p class="option__sub-title">
                    Buy the Galaxy S8 and<br />a Galaxy phone for only $799
                  </p>
                  <div class="option__img-wrap">
                    <img
                      src="../img/option_phone_pc.png"
                      class="option__img"
                      alt=""
                    />
                  </div>
                  <div class="option__contents">
                    <strong class="option__name"
                      >Fast Charge Wireless Charging Convertible, Black</strong
                    >
                    <p class="product-fiche">
                      product fiche
                      <span class="fiche-tag">A++</span>
                    </p>
                    <p class="product-price-origin">
                      <span class="blind">정상가</span>
                      <s>$4,299.99</s>
                    </p>
                    <p class="product-price-save">
                      <span class="blind">할인 받은 금액</span>Save $100
                    </p>
                    <em class="product-price">$49.99</em>
                  </div>
                </div>
              </li>
              <li class="option__item dc-price">
                <div class="option__item-inner">
                  <p class="soldout-txt">out of stock</p>
                  <button type="button" class="option__close">
                    <span class="blind">옵션 삭제</span>
                  </button>
                  <input
                    type="checkbox"
                    id="option-orange"
                    name="option"
                    class="option__input"
                  />
                  <label class="option__label" for="option-orange"></label>
                  <p class="option__sub-title">
                    Buy the Galaxy S8 and<br />a Galaxy phone for only $799
                  </p>
                  <div class="option__img-wrap">
                    <img
                      src="../img/option_phone_pc.png"
                      class="option__img"
                      alt=""
                    />
                  </div>
                  <div class="option__contents">
                    <strong class="option__name"
                      >Fast Charge Wireless Charging Convertible, Black</strong
                    >
                    <p class="product-fiche">
                      product fiche
                      <span class="fiche-tag">A++</span>
                    </p>
                    <p class="product-price-origin">
                      <span class="blind">정상가</span>
                      <s>$4,299.99</s>
                    </p>
                    <p class="product-price-save">
                      <span class="blind">할인 받은 금액</span>Save $100
                    </p>
                    <em class="product-price">$49.99</em>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="pay">
          <div class="pay__detail">
            <div class="pay__detail-inner">
              <p class="pay__sort">Product price</p>
              <p class="product-price-origin">
                <span class="blind">정상가</span>
                <s>$126,889,99</s>
              </p>
              <p class="product-price">
                <span class="blind">판매가</span>$126,889,99
              </p>
            </div>
          </div>
          <div class="pay__detail">
            <!-- [D] if add option, increase option count -->
            <div class="pay__detail-inner">
              <p class="pay__sort">
                Bundle product (<em class="option__count">0</em>)
              </p>
              <p class="product-price-origin">
                <span class="blind">정상가</span>
                <s>$126,889.99</s>
              </p>
              <p class="product-price">
                <span class="blind">판매가</span>$499.00
              </p>
            </div>
          </div>
          <div class="pay__detail">
            <div class="pay__detail-inner">
              <div class="product-save-box">
                <p class="product-price-origin">
                  <span class="blind">정상가</span>
                  <s>$9,900,000.00</s>
                </p>
                <p class="product-price-save">
                  <span class="blind">할인 받은 금액</span>Save $100
                </p>
              </div>
              <div class="product-total-box">
                <p class="pay__sort-total">Total</p>
                <p class="product-price product-price-total">$123,567,155.99</p>
              </div>
            </div>
          </div>
          <!-- [D] if checked option, button able -->
          <button type="button" class="pay__button" disabled="">
            add to cart
          </button>
        </div>
      </div>

      <h2 class="offer-title">[CASE2] multi option items</h2>
      <div class="component-box">
        <div class="product">
          <p class="soldout-txt">out of stock</p>
          <div class="product__inner">
            <div class="product__img-wrap">
              <picture>
                <source
                  media="(max-width:767px)"
                  srcset="../img/phone_mobile_03.png"
                />
                <img
                  src="../img/main_phone_pc_03.png"
                  class="product__img-pc"
                  alt=""
                />
              </picture>
            </div>
            <div class="product__contents">
              <div class="product__color-box">
                <span class="blind">컬러 옵션</span>
                <p class="product__color">
                  <span class="blind">버건디</span>
                </p>
              </div>
              <p class="product__capacity">
                <span class="blind">저장용량</span>64GB
              </p>
              <strong class="product__name">
                <span class="blind">제품명</span>Samsung Galaxy S8+
              </strong>
              <p class="product__sku">
                <span class="blind">모델명</span>SM-G955UZKAZAA
              </p>
              <p class="product-fiche">
                product fiche
                <span class="fiche-tag">A++</span>
              </p>
              <div class="product-dc-box">
                <p class="product-price-origin">
                  <span class="blind">정상가</span>
                  <s>$9,900,000.00</s>
                </p>
                <p class="product-price-save">
                  <span class="blind">할인받은 금액</span>Save $9,9.00
                </p>
              </div>
              <p class="product-price">
                $3,332.00
                <span class="blind">판매가</span>
              </p>
              <!-- [D] authoring -->
              <p class="product__desc">
                $35.00/mo for 24 mos at 0% APR excludes taxes and shipping
                $35.00/mo for 24 mos at 0% APR excludes taxes and shipping
              </p>
            </div>
          </div>
        </div>
        <div class="icon-plus">
          <div class="icon-plus-w"></div>
          <div class="icon-plus-h"></div>
        </div>
        <div class="option">
          <h3 class="option-title">Select combo bundle option</h3>
          <div class="option__list-wrap">
            <ul class="option__list-pc">
              <li class="option__item dc-price">
                <div class="option__item-inner">
                  <input
                    type="checkbox"
                    id="option-deepblue"
                    name="option"
                    class="option__input"
                  />
                  <label class="option__label" for="option-deepblue"></label>
                  <p class="option__sub-title">
                    Buy the Galaxy S8 and<br />a Galaxy phone for only $799
                  </p>
                  <div class="option__img-wrap">
                    <img
                      src="../img/main_phone_pc_03.png"
                      class="option__img"
                      alt=""
                    />
                  </div>
                  <div class="option__contents">
                    <strong class="option__name"
                      >Fast Charge Wireless Charging<br />Convertible,
                      Black</strong
                    >
                    <div class="option__sort">
                      <p class="option__sku">
                        <span class="blind">모델명</span>SM-G955UZKAZAA
                      </p>
                      <p class="option__sort-color">
                        <span class="blind">컬러</span>BLACK
                      </p>
                      <p class="option__sort-capacity">
                        <span class="blind">저장용량</span>64GB
                      </p>
                    </div>
                    <p class="product-fiche">
                      product fiche
                      <span class="fiche-tag">A++</span>
                    </p>
                    <div class="product-dc-box">
                      <p class="product-price-origin">
                        <span class="blind">정상가</span>
                        <s>$9,900,000.00</s>
                      </p>
                      <p class="product-price-save">
                        <span class="blind">할인받은 금액</span>Save $9,9.00
                      </p>
                    </div>
                    <strong class="product-price">
                      <span class="blind">판매가</span>$49.99
                    </strong>
                  </div>
                  <p class="soldout-txt">out of stock</p>
                </div>
              </li>
              <li class="option__item">
                <div class="option__item-inner">
                  <input
                    type="checkbox"
                    id="option-teal"
                    name="option"
                    class="option__input"
                  />
                  <label class="option__label" for="option-teal"></label>
                  <p class="option__sub-title">
                    Buy the Galaxy S8 and<br />a Galaxy phone for only $799
                  </p>
                  <div class="option__img-wrap">
                    <img
                      src="../img/main_phone_pc_03.png"
                      class="option__img"
                      alt=""
                    />
                  </div>
                  <div class="option__contents">
                    <strong class="option__name"
                      >Fast Charge Wireless Charging<br />Convertible,
                      Black</strong
                    >
                    <div class="option__sort">
                      <p class="option__sku">
                        <span class="blind">모델명</span>SM-G955UZKAZAA
                      </p>
                      <p class="option__sort-color">
                        <span class="blind">컬러</span>BLACK
                      </p>
                      <p class="option__sort-capacity">
                        <span class="blind">저장용량</span>64GB
                      </p>
                    </div>
                    <p class="product-fiche">
                      product fiche
                      <span class="fiche-tag">A++</span>
                    </p>
                    <div class="product-dc-box">
                      <p class="product-price-origin">
                        <span class="blind">정상가</span>
                        <s>$9,900,000.00</s>
                      </p>
                      <p class="product-price-save">
                        <span class="blind">할인받은 금액</span>Save $9,9.00
                      </p>
                    </div>
                    <strong class="product-price">
                      <span class="blind">판매가</span>$49.99
                    </strong>
                  </div>
                  <p class="soldout-txt">out of stock</p>
                </div>
              </li>
              <li class="option__item dc-price">
                <div class="option__item-inner">
                  <input
                    type="checkbox"
                    id="option-pink"
                    name="option"
                    class="option__input"
                  />
                  <label class="option__label" for="option-pink"></label>
                  <p class="option__sub-title">
                    Buy the Galaxy S8 and<br />a Galaxy phone for only $799
                  </p>
                  <div class="option__img-wrap">
                    <img
                      src="../img/main_phone_pc_03.png"
                      class="option__img"
                      alt=""
                    />
                  </div>
                  <div class="option__contents">
                    <strong class="option__name"
                      >Fast Charge Wireless Charging<br />Convertible,
                      Black</strong
                    >
                    <div class="option__sort">
                      <p class="option__sku">
                        <span class="blind">모델명</span>SM-G955UZKAZAA
                      </p>
                      <p class="option__sort-color">
                        <span class="blind">컬러</span>BLACK
                      </p>
                      <p class="option__sort-capacity">
                        <span class="blind">저장용량</span>64GB
                      </p>
                    </div>
                    <p class="product-fiche">
                      product fiche
                      <span class="fiche-tag">A++</span>
                    </p>
                    <div class="product-dc-box">
                      <p class="product-price-origin">
                        <span class="blind">정상가</span>
                        <s>$9,900,000.00</s>
                      </p>
                      <p class="product-price-save">
                        <span class="blind">할인받은 금액</span>Save $9,9.00
                      </p>
                    </div>
                    <strong class="product-price">
                      <span class="blind">판매가</span>$49.99
                    </strong>
                  </div>
                  <p class="soldout-txt">out of stock</p>
                </div>
              </li>
              <li class="option__item">
                <div class="option__item-inner">
                  <input
                    type="checkbox"
                    id="option-skyblue"
                    name="option"
                    class="option__input"
                  />
                  <label class="option__label" for="option-skyblue"></label>
                  <p class="option__sub-title">
                    Buy the Galaxy S8 and<br />a Galaxy phone for only $799
                  </p>
                  <div class="option__img-wrap">
                    <img
                      src="../img/main_phone_pc_03.png"
                      class="option__img"
                      alt=""
                    />
                  </div>
                  <div class="option__contents">
                    <strong class="option__name"
                      >Fast Charge Wireless Charging<br />Convertible,
                      Black</strong
                    >
                    <div class="option__sort">
                      <p class="option__sku">
                        <span class="blind">모델명</span>SM-G955UZKAZAA
                      </p>
                      <p class="option__sort-color">
                        <span class="blind">컬러</span>BLACK
                      </p>
                      <p class="option__sort-capacity">
                        <span class="blind">저장용량</span>64GB
                      </p>
                    </div>
                    <p class="product-fiche">
                      product fiche
                      <span class="fiche-tag">A++</span>
                    </p>
                    <div class="product-dc-box">
                      <p class="product-price-origin">
                        <span class="blind">정상가</span>
                        <s>$9,900,000.00</s>
                      </p>
                      <p class="product-price-save">
                        <span class="blind">할인받은 금액</span>Save $9,9.00
                      </p>
                    </div>
                    <strong class="product-price">
                      <span class="blind">판매가</span>$49.99
                    </strong>
                  </div>
                  <p class="soldout-txt">out of stock</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="option__select-pc">
            <p class="option__selected">
              Selected product
              <!-- [D] if check option, increase option count -->
              (<em class="option__count">0</em>)
            </p>
            <button type="button" class="option__clear">Clear all X</button>
          </div>
          <!-- [D] if toggle click, add 'is-dropped'-->
          <div class="option__select-mo is-dropped">
            <div class="option__toggle-box">
              <p class="option__selected">
                Selected product
                <!-- [D] if add option, increase option count -->
                (<em class="option__count">2</em>)
              </p>
              <div class="option__btn-box">
                <button type="button" class="icon-edit">
                  <span class="blind">옵션 수정</span>
                </button>
                <button type="button" class="option__toggle-btn">
                  <span class="blind">옵션 리스트 열기</span>
                </button>
              </div>
            </div>
            <ul class="option__list-mo">
              <li class="option__item">
                <div class="option__item-inner">
                  <div class="option__close-box">
                    <button type="button" class="option__close">
                      <span class="blind">옵션 삭제</span>
                    </button>
                  </div>
                  <input
                    type="checkbox"
                    id="option-purple"
                    name="option"
                    class="option__input"
                  />
                  <label class="option__label" for="option-purple"></label>
                  <p class="option__sub-title">
                    Buy the Galaxy S8 and<br />a Galaxy phone for only $799
                  </p>
                  <div class="option__img-wrap">
                    <img
                      src="../img/option_phone_pc.png"
                      class="option__img"
                      alt=""
                    />
                  </div>
                  <div class="option__contents">
                    <strong class="option__name"
                      >Fast Charge Wireless Charging Convertible, Black</strong
                    >
                    <p class="product-fiche">
                      product fiche
                      <span class="fiche-tag">A++</span>
                    </p>
                    <p class="product-price-origin">
                      <span class="blind">정상가</span>
                      <s>$4,299.99</s>
                    </p>
                    <p class="product-price-save">
                      <span class="blind">할인 받은 금액</span>Save $100
                    </p>
                    <em class="product-price">$49.99</em>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="pay dc-price">
          <div class="pay__detail">
            <div class="pay__detail-inner">
              <p class="pay__sort">Product price</p>
              <p class="product-price-origin">
                <span class="blind">정상가</span>
                <s>$126,889,99</s>
              </p>
              <p class="product-price">
                <span class="blind">판매가</span>$126,889,99
              </p>
            </div>
          </div>
          <div class="pay__detail">
            <!-- [D] if add option, increase option count -->
            <div class="pay__detail-inner">
              <p class="pay__sort">
                Bundle product (<em class="option__count">0</em>)
              </p>
              <p class="product-price-origin">
                <span class="blind">정상가</span>
                <s>$126,889.99</s>
              </p>
              <p class="product-price">
                <span class="blind">판매가</span>$499.00
              </p>
            </div>
          </div>
          <div class="pay__detail">
            <div class="pay__detail-inner">
              <div class="product-save-box">
                <p class="product-price-origin">
                  <span class="blind">정상가</span>
                  <s>$9,900,000.00</s>
                </p>
                <p class="product-price-save">
                  <span class="blind">할인 받은 금액</span>Save $100
                </p>
              </div>
              <div class="product-total-box">
                <p class="pay__sort-total">Total</p>
                <p class="product-price product-price-total">$123,567,155.99</p>
              </div>
            </div>
          </div>
          <!-- [D] if checked option, button able -->
          <button type="button" class="pay__button" disabled="">
            add to cart
          </button>
        </div>
      </div>

      <h2 class="offer-title">[CASE3] item sold out</h2>
      <div class="component-box">
        <!-- if product sold out, add 'soldout' -->
        <div class="product soldout dc-price">
          <p class="soldout-txt">out of stock</p>
          <div class="product__inner">
            <div class="product__img-wrap">
              <picture>
                <source
                  media="(max-width:767px)"
                  srcset="../img/phone_mobile_03.png"
                />
                <img
                  src="../img/main_phone_pc_03.png"
                  class="product__img-pc"
                  alt=""
                />
              </picture>
            </div>
            <div class="product__contents">
              <div class="product__color-box">
                <span class="blind">컬러 옵션</span>
                <p class="product__color">
                  <span class="blind">버건디</span>
                </p>
              </div>
              <p class="product__capacity">
                <span class="blind">저장용량</span>64GB
              </p>
              <strong class="product__name">
                <span class="blind">제품명</span>Samsung Galaxy S8+
              </strong>
              <p class="product__sku">
                <span class="blind">모델명</span>SM-G955UZKAZAA
              </p>
              <p class="product-fiche">
                product fiche
                <span class="fiche-tag">A++</span>
              </p>
              <div class="product-dc-box">
                <p class="product-price-origin">
                  <span class="blind">정상가</span>
                  <s>$9,900,000.00</s>
                </p>
                <p class="product-price-save">
                  <span class="blind">할인받은 금액</span>Save $9,9.00
                </p>
              </div>
              <p class="product-price">
                <span class="blind">판매가</span>$3,332.00
              </p>
              <!-- [D] authoring -->
              <p class="product__desc">
                $35.00/mo for 24 mos at 0% APR excludes taxes and shipping
                $35.00/mo for 24 mos at 0% APR excludes taxes and shipping
              </p>
            </div>
          </div>
        </div>
        <div class="icon-plus">
          <div class="icon-plus-w"></div>
          <div class="icon-plus-h"></div>
        </div>
        <div class="option">
          <h3 class="option-title">Please select your bundle product</h3>
          <div class="option__list-wrap">
            <ul class="option__list-pc">
              <li class="option__item dc-price soldout">
                <div class="option__item-inner">
                  <input
                    type="checkbox"
                    id="option-green"
                    name="option"
                    class="option__input"
                  />
                  <label class="option__label" for="option-green"></label>
                  <p class="option__sub-title">
                    Buy the Galaxy S8 and<br />a Galaxy phone for only $799
                  </p>
                  <div class="option__img-wrap">
                    <img
                      src="../img/main_phone_pc_03.png"
                      class="option__img"
                      alt=""
                    />
                  </div>
                  <div class="option__contents">
                    <strong class="option__name"
                      >Fast Charge Wireless Charging<br />Convertible,
                      Black</strong
                    >
                    <div class="option__sort">
                      <p class="option__sku">
                        <span class="blind">모델명</span>SM-G955UZKAZAA
                      </p>
                      <p class="option__sort-color">
                        <span class="blind">컬러</span>BLACK
                      </p>
                      <p class="option__sort-capacity">
                        <span class="blind">저장용량</span>64GB
                      </p>
                    </div>
                    <p class="product-fiche">
                      product fiche
                      <span class="fiche-tag">A++</span>
                    </p>
                    <div class="product-dc-box">
                      <p class="product-price-origin">
                        <span class="blind">정상가</span>
                        <s>$9,900,000.00</s>
                      </p>
                      <p class="product-price-save">
                        <span class="blind">할인받은 금액</span>Save $9,9.00
                      </p>
                    </div>
                    <strong class="product-price">
                      <span class="blind">판매가</span>$49.99
                    </strong>
                  </div>
                  <p class="soldout-txt">out of stock</p>
                </div>
              </li>
              <li class="option__item soldout">
                <div class="option__item-inner">
                  <input
                    type="checkbox"
                    id="option-deepred"
                    name="option"
                    class="option__input"
                  />
                  <label class="option__label" for="option-deepred"></label>
                  <p class="option__sub-title">
                    Buy the Galaxy S8 and<br />a Galaxy phone for only $799
                  </p>
                  <div class="option__img-wrap">
                    <img
                      src="../img/main_phone_pc_03.png"
                      class="option__img"
                      alt=""
                    />
                  </div>
                  <div class="option__contents">
                    <strong class="option__name"
                      >Fast Charge Wireless Charging<br />Convertible,
                      Black</strong
                    >
                    <div class="option__sort">
                      <p class="option__sku">
                        <span class="blind">모델명</span>SM-G955UZKAZAA
                      </p>
                      <p class="option__sort-color">
                        <span class="blind">컬러</span>BLACK
                      </p>
                      <p class="option__sort-capacity">
                        <span class="blind">저장용량</span>64GB
                      </p>
                    </div>
                    <p class="product-fiche">
                      product fiche
                      <span class="fiche-tag">A++</span>
                    </p>
                    <div class="product-dc-box">
                      <p class="product-price-origin">
                        <span class="blind">정상가</span>
                        <s>$9,900,000.00</s>
                      </p>
                      <p class="product-price-save">
                        <span class="blind">할인받은 금액</span>Save $9,9.00
                      </p>
                    </div>
                    <strong class="product-price">
                      <span class="blind">판매가</span>$49.99
                    </strong>
                  </div>
                  <p class="soldout-txt">out of stock</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="option__select-pc">
            <p class="option__selected">
              Selected product
              <!-- [D] if check option, increase option count -->
              (<em class="option__count">0</em>)
            </p>
            <button type="button" class="option__clear">Clear all X</button>
          </div>
          <!-- [D] if toggle click, add 'is-dropped'-->
          <div class="option__select-mo is-dropped">
            <div class="option__toggle-box">
              <p class="option__selected">
                Selected product
                <!-- [D] if add option, increase option count -->
                (<em class="option__count">2</em>)
              </p>
              <div class="option__btn-box">
                <button type="button" class="icon-edit">
                  <span class="blind">옵션 수정</span>
                </button>
                <button type="button" class="option__toggle-btn">
                  <span class="blind">옵션 리스트 열기</span>
                </button>
              </div>
            </div>
            <ul class="option__list-mo">
              <li class="option__item">
                <div class="option__item-inner">
                  <div class="option__close-box">
                    <button type="button" class="option__close">
                      <span class="blind">옵션 삭제</span>
                    </button>
                  </div>
                  <input
                    type="checkbox"
                    id="option-yellow"
                    name="option"
                    class="option__input"
                  />
                  <label class="option__label" for="option-yellow"></label>
                  <p class="option__sub-title">
                    Buy the Galaxy S8 and<br />a Galaxy phone for only $799
                  </p>
                  <div class="option__img-wrap">
                    <img
                      src="../img/option_phone_pc.png"
                      class="option__img"
                      alt=""
                    />
                  </div>
                  <div class="option__contents">
                    <strong class="option__name"
                      >Fast Charge Wireless Charging Convertible, Black</strong
                    >
                    <p class="product-fiche">
                      product fiche
                      <span class="fiche-tag">A++</span>
                    </p>
                    <p class="product-price-origin">
                      <span class="blind">정상가</span>
                      <s>$4,299.99</s>
                    </p>
                    <p class="product-price-save">
                      <span class="blind">할인 받은 금액</span>Save $100
                    </p>
                    <em class="product-price">$49.99</em>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="pay">
          <div class="pay__detail">
            <div class="pay__detail-inner">
              <p class="pay__sort">Product price</p>
              <p class="product-price-origin">
                <span class="blind">정상가</span>
                <s>$126,889,99</s>
              </p>
              <p class="product-price">
                <span class="blind">판매가</span>$126,889,99
              </p>
            </div>
          </div>
          <div class="pay__detail">
            <!-- [D] if add option, increase option count -->
            <div class="pay__detail-inner">
              <p class="pay__sort">
                Bundle product (<em class="option__count">0</em>)
              </p>
              <p class="product-price-origin">
                <span class="blind">정상가</span>
                <s>$126,889.99</s>
              </p>
              <p class="product-price">
                <span class="blind">판매가</span>$499.00
              </p>
            </div>
          </div>
          <div class="pay__detail">
            <div class="product-save-box">
              <p class="product-price-origin">
                <span class="blind">정상가</span>
                <s>$9,900,000.00</s>
              </p>
              <p class="product-price-save">
                <span class="blind">할인 받은 금액</span>Save $100
              </p>
            </div>
            <div class="product-total-box">
              <p class="pay__sort-total">Total</p>
              <p class="product-price product-price-total">$123,567,155.99</p>
            </div>
          </div>
          <!-- [D] if checked option, button able -->
          <button type="button" class="pay__button" disabled="">
            add to cart
          </button>
        </div>
      </div>

      <h2 class="offer-title">[CASE4] price has discount</h2>
      <div class="component-box">
        <!-- if checked D/C option, add 'dc-price' -->
        <div class="product dc-price">
          <p class="soldout-txt">out of stock</p>
          <div class="product__inner">
            <div class="product__img-wrap">
              <picture>
                <source
                  media="(max-width:767px)"
                  srcset="../img/phone_mobile_03.png"
                />
                <img
                  src="../img/main_phone_pc_03.png"
                  class="product__img-pc"
                  alt=""
                />
              </picture>
            </div>
            <div class="product__contents">
              <div class="product__color-box">
                <span class="blind">컬러 옵션</span>
                <p class="product__color">
                  <span class="blind">버건디</span>
                </p>
              </div>
              <p class="product__capacity">
                <span class="blind">저장용량</span>64GB
              </p>
              <strong class="product__name">
                <span class="blind">제품명</span>Samsung Galaxy S8+
              </strong>
              <p class="product__sku">
                <span class="blind">모델명</span>SM-G955UZKAZAA
              </p>
              <p class="product-fiche">
                product fiche
                <span class="fiche-tag">A++</span>
              </p>
              <div class="product-dc-box">
                <p class="product-price-origin">
                  <span class="blind">정상가</span>
                  <s>$9,900,000.00</s>
                </p>
                <p class="product-price-save">
                  <span class="blind">할인받은 금액</span>Save $9,9.00
                </p>
              </div>
              <p class="product-price">
                <span class="blind">판매가</span>$3,332.00
              </p>
              <!-- [D] authoring -->
              <p class="product__desc">
                $35.00/mo for 24 mos at 0% APR excludes taxes and shipping
                $35.00/mo for 24 mos at 0% APR excludes taxes and shipping
              </p>
            </div>
          </div>
        </div>
        <div class="icon-plus">
          <div class="icon-plus-w"></div>
          <div class="icon-plus-h"></div>
        </div>
        <div class="option">
          <h3 class="option-title">Please select your bundle product</h3>
          <div class="option__list-wrap">
            <ul class="option__list-pc">
              <!-- if checked D/C option, add 'dc-price' -->
              <li class="option__item dc-price">
                <div class="option__item-inner">
                  <input
                    type="checkbox"
                    id="option-red"
                    name="option"
                    class="option__input"
                  />
                  <label class="option__label" for="option-red"></label>
                  <p class="option__sub-title">
                    Buy the Galaxy S8 and<br />a Galaxy phone for only $799
                  </p>
                  <div class="option__img-wrap">
                    <img
                      src="../img/main_phone_pc_03.png"
                      class="option__img"
                      alt=""
                    />
                  </div>
                  <div class="option__contents">
                    <strong class="option__name"
                      >Fast Charge Wireless Charging<br />Convertible,
                      Black</strong
                    >
                    <div class="option__sort">
                      <p class="option__sku">
                        <span class="blind">모델명</span>SM-G955UZKAZAA
                      </p>
                      <p class="option__sort-color">
                        <span class="blind">컬러</span>BLACK
                      </p>
                      <p class="option__sort-capacity">
                        <span class="blind">저장용량</span>64GB
                      </p>
                    </div>
                    <p class="product-fiche">
                      product fiche
                      <span class="fiche-tag">A++</span>
                    </p>
                    <div class="product-dc-box">
                      <p class="product-price-origin">
                        <span class="blind">정상가</span>
                        <s>$9,900,000.00</s>
                      </p>
                      <p class="product-price-save">
                        <span class="blind">할인받은 금액</span>Save $9,9.00
                      </p>
                    </div>
                    <strong class="product-price">
                      <span class="blind">판매가</span>$49.99
                    </strong>
                  </div>
                </div>
                <p class="soldout-txt">out of stock</p>
              </li>
            </ul>
          </div>
          <div class="option__select-pc">
            <p class="option__selected">
              Selected product
              <!-- [D] if check option, increase option count -->
              (<em class="option__count">0</em>)
            </p>
            <button type="button" class="option__clear">Clear all X</button>
          </div>
          <!-- [D] if toggle click, add 'is-dropped'-->
          <div class="option__select-mo is-dropped">
            <div class="option__toggle-box">
              <p class="option__selected">
                Selected product
                <!-- [D] if add option, increase option count -->
                (<em class="option__count">2</em>)
              </p>
              <div class="option__btn-box">
                <button type="button" class="icon-edit">
                  <span class="blind">옵션 수정</span>
                </button>
                <button type="button" class="option__toggle-btn">
                  <span class="blind">옵션 리스트 열기</span>
                </button>
              </div>
            </div>
            <ul class="option__list-mo">
              <li class="option__item">
                <div class="option__item-inner">
                  <div class="option__close-box">
                    <button type="button" class="option__close">
                      <span class="blind">옵션 삭제</span>
                    </button>
                  </div>
                  <input
                    type="checkbox"
                    id="option-white"
                    name="option"
                    class="option__input"
                  />
                  <label class="option__label" for="option-white"></label>
                  <p class="option__sub-title">
                    Buy the Galaxy S8 and<br />a Galaxy phone for only $799
                  </p>
                  <div class="option__img-wrap">
                    <img
                      src="../img/option_phone_pc.png"
                      class="option__img"
                      alt=""
                    />
                  </div>
                  <div class="option__contents">
                    <strong class="option__name"
                      >Fast Charge Wireless Charging Convertible, Black</strong
                    >
                    <p class="product-fiche">
                      product fiche
                      <span class="fiche-tag">A++</span>
                    </p>
                    <p class="product-price-origin">
                      <span class="blind">정상가</span>
                      <s>$4,299.99</s>
                    </p>
                    <p class="product-price-save">
                      <span class="blind">할인 받은 금액</span>Save $100
                    </p>
                    <em class="product-price">$49.99</em>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- [D] if checked D/C option, add 'dc-price' -->
        <div class="pay dc-price">
          <div class="pay__detail">
            <div class="pay__detail-inner">
              <p class="pay__sort">Product price</p>
              <p class="product-price-origin">
                <span class="blind">정상가</span>
                <s>$126,889,99</s>
              </p>
              <p class="product-price">
                <span class="blind">판매가</span>$126,889,99
              </p>
            </div>
          </div>
          <div class="pay__detail">
            <!-- [D] if add option, increase option count -->
            <div class="pay__detail-inner">
              <p class="pay__sort">
                Bundle product (<em class="option__count">0</em>)
              </p>
              <p class="product-price-origin">
                <span class="blind">정상가</span>
                <s>$126,889.99</s>
              </p>
              <p class="product-price">
                <span class="blind">판매가</span>$499.00
              </p>
            </div>
          </div>
          <div class="pay__detail">
            <div class="product-save-box">
              <p class="product-price-origin">
                <span class="blind">정상가</span>
                <s>$9,900,000.00</s>
              </p>
              <p class="product-price-save">
                <span class="blind">할인 받은 금액</span>Save $100
              </p>
            </div>
            <div class="product-total-box">
              <p class="pay__sort-total">Total</p>
              <p class="product-price product-price-total">$123,567,155.99</p>
            </div>
          </div>
          <!-- [D] if checked option, button able -->
          <button type="button" class="pay__button">add to cart</button>
        </div>
      </div>
    </section>
  </body>
</html>
