$screen-xsm: 320px;
$screen-sm: 767px;
$screen-md: 1024px;
$screen-lg: 1280px;
$screen-xlg: 1440px;

// bespoke
$black: #000;
$white: #fff;
$grey: #f7f7f7;
$border: #707070;
$pagination-border: #E5E5E5;
$option-bg: #F7F7F7;
$option-border: #C3C3C3;
$notice-border: #EBEBEB;
$pagination-page: #989898;
$option-text-normal: #6F7070;
$notice-text : #757575;
$hotpink: #f17395;
$pink: #FFa7d3;
$coral: #ee8483;
$soft-blue: #77a4e8;
$aqua-blue:#8ebaf1;
$sky-blue: #a8e1ff;
$favorite-color: #2189FF;
$option-blue: #2189FF;
$lemon-yellow: #f4f693;
$soft-yellow: #f5f5aa;

// kv
$bg-dots: #363636;

// offer landing
$color-text-grey: #636363;
$color-dimmed-grey: #565656;
$color-black-text: #363636;
$color-line-grey: #dadada;
$color-soldout-grey: #868686;
$color-text-light-grey: #707070;
$color-light-grey: #f7f7f7;
$color-dimmed-grey: #f0f0f0;
$color-blue : #00b3e3;
$color-cobalt-blue: #1428a0;
$color-option-purple: #d6adda;
$color-green: #50b848;
$color-light-green: #bfd730;

$common-font-family: 'SamsungOne', arial;
$samsungOne: 'SamsungOne', arial;
$sharpSans: 'SamsungSharpSans', arial;
